.css-1ixobx-Content {
    width: auto;
}

.planby-timeline {
    background-color: #f0f0f0; /* Change the background color */
}

.planby-timeline .marker {
    background-color: #FF5733; /* Change the marker color */
}

.planby-channel {
    color: #FFCC00; /* Change the channel text color */
}